{% extends "webapp/base.html" %}

{% block content %}
<table class="table table-primary table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Department</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Tall</th>
            <th scope="col">weight</th>
            <th scope="col">Date joined</th>
            <th scope="col">View</th>
        </tr>
    </thead>
    <tbody>
        {% if results %}
            {% for record in results %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.first_name|capfirst }} {{ record.last_name }}</td>
                <td>{{ record.category }}</td>
                <td>{{ record.phone }}</td>
                <td>{{ record.address }}</td>
                <td>{{ record.tall }}</td>
                <td>{{ record.weight }}</td>
                <td>{{ record.creation_date }}</td>
                <td>
                    <a href="{% url 'view_record' record.id %}" class="btn btn-outline-primary btn-sm">View</a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                    <td colspan="11" class="text-center ">
                    <div class="alert alert-danger" role="alert">
                        <h3>Not Found "{{ query }}".</h3>
                      </div>
                    
                    
                    <br>  <a href="{% url 'dashboard' %}" class="btn btn-outline-primary " >search agine</a></td>
            </tr>
        {% endif %}
    </tbody>

</table>
{% endblock content %}
